
@font-face {
    font-family: Open_Sans_ExtraBold;
    src: url('../Fonts/Open_Sans/OpenSans-ExtraBold.ttf');
    font-display: swap;
    font-weight: bolder;
}
@font-face {
    font-family: Open_Sans_LightItalic;
    src: url('../Fonts/Open_Sans/OpenSans-LightItalic.ttf');
    font-display: swap;
}
@font-face {
    font-family: Open_Sans_Italic;
    src: url('../Fonts/Open_Sans/OpenSans-Italic.ttf');
    font-display: swap;
}
@font-face {
    font-family: "Open Sans Light";
    src: url('../Fonts/Open_Sans/OpenSans-Light.ttf');
    font-display: swap;
}
