@import 'src/assets/scss/stylesConfig.scss';

.layout-default {
    min-width: $max_width_mobile;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .main-bf {
        flex: 1;
    }
}

@media only screen and (max-width: $max_width_mobile){
    .app-container {
        width: 100%;
        overflow: auto;
    }
}
